<div class="ticket-detail-container">
  <div class="detail-header">
    <a routerLink="/tickets" class="back-btn">&larr; Back to tickets</a>
    <h1>Edit Ticket</h1>
  </div>

  @if (currentTicketService.loading()) {
  <p>Loading ticket...</p>
  } @else if (currentTicketService.error()) {
  <p>{{ currentTicketService.error() }}</p>
  } @else {
  <app-ticket-form
    (cancel)="router.navigate(['/tickets'])"
    [ticket]="currentTicketService.currentTicket()"
    (update)="onUpdate($event)"
  ></app-ticket-form>
  }
</div>
