<div class="ticket-list-container">
  <h1>Ticket Management</h1>

  <div class="create-ticket-section">
    <app-ticket-form></app-ticket-form>
  </div>

  <app-filter-sort></app-filter-sort>

  <div class="tickets-list">
    @if (!ticketService.loaded()) {
      <p>Loading...</p>
    } @else if (ticketService.error()) {
      <p>{{ ticketService.error() }}</p>
    } @else {
      @for (ticket of ticketService.tickets(); track ticket.id) {
        <app-ticket-item
          [ticket]="ticket"
          (statusChange)="ticketService.changeStatus$.next($event)"
        ></app-ticket-item>
      }
    }
  </div>
</div>
